<!--<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/nomalize.css">
    <link rel="stylesheet" href="../DIVE/css/css_exam02.css">
    <title>DIVE Corporation</title>
  </head>
  <body>
    <div class="container">
<header class="header clearfix">
  
  <center><h3>CAUTION: THESE DATA ARE GENERATED USING FORGERY ALGORITH,ARE NOT GENUIRE </h3></center>
  
  </header>
    <nav>　　　
      <ul class="top_menu clearfix">
    <a href="#"><li class="select">HOME</li></a>
        <a href="#"><li>CONTACT US</li></a>
        <a href="#"><li>ABOUT US</li></a>
        <a href="#"><li>ADVERTS</li></a>
        <a href="#"><li>PROFILE</li></a>
       <a href="index.html.erb"><li>TWEETS</li></a>
      </ul>
    </nav>
  <div class="maincontent">
    
  <article class="content">
    <section>    
    
    
    <center><h2>welcome to tweets page</h2></center>
    
    
    
   <center> <h1>Add and View your tweets</h1></center>

<p><%= notice %></p>

<table>
  <tr>
   <u> <th>Name</th></u>
   
   <u> <th>Tweets</th></th></u>
   <u> <th>View</th></th></u>
   
   <u> <th>Edit</th></th></u>
   
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.name %></td>
    
    <td><%= blog.content %></td>

    <td><%= link_to 'View', blog_path(blog.id) %></td>
  <td><%= link_to "Edit", edit_blog_path(blog.id) %></td>

  </tr>
<% end %>
</table>

<br>

    
 <footer class="footer"> <h2>Done by Kananura Donath, keep tweeting to my blog!!! </h2></footer>   
    
    
  
     
     
      
   
      </article>

    <aside class="side_menu">
 
      
      <!--<img src="images/chosen1.jpg" class="pic"><br>-->
      <!--<section class="words">
        
             <dl id="accordion">
               <center><i><p> Create new tweet</i></center
  <%= form_with(model: Blog.new) do |form| %>
  <div class="blog_title">
    <%= form.label :Names %>
    <%= form.text_field :name %>
  </div>
  
  <div class="blog_title">
    <%= form.label :Subject %>
    <%= form.text_field :email %>
  </div>
  
  
  <div class="blog_title">
    <%= form.label :tweet %>
     <%= form.text_area :content, :cols => 30, :rows => 10 %>
  </div>
  
    <input type="submit" name="commit" value="Create tweet" data-disable-with="Create Blog">
<% end %>

   

  </dl>
        
        
   
        
     
      </section>
      
    </aside>
       
    
    </div>
    
  
 
    
    
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="java script/main.js"></script>
  
  </div>
  </body>
</html>

-->



<div class="container">
    <header class="header">
   TWEETS AND FIND ALL YOUR TWEETS
    
    </header>
    
   

<!--

<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
      </button>
      <a class="navbar-brand" href="#">Tweet Here</a>
    </div>
     <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class=""><a href="#">Home</a></li>
      <li><a href="#">Tweets</a></li>
      <li><a href="#">About us </a></li>
      <li><a href="#">Service</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<!--
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Grocery Seller.com</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          
         <ul class="row">
              <div class="col-md-12">
            <li class="col-md-3">Home</li>
            <li class="col-md-3">About us</li>
            <li class="col-md-3">Groceries</li>
            <li class="col-md-3">Contact Us</li>
            </div>
        </ul>
    </div>
  </div>
</nav>

<!--
    <nav class="menu">
        <ul class="row">
            <li class="col-md-3">top</li>
            <li class="col-md-3">menu1</li>
            <li class="col-md-3">menu2</li>
            <li class="col-md-3">menu3</li>
        </ul>
    </nav>
   .............<center> <h1>Add and View your tweets</h1></center>
-->
 <li class="col-md-12">
 <div class="maincontent">
    
  
    
     <div class="row">

       
          
    <section class=" col-md-6">    
    
   <font size="10"> <p> <span class="label label-success">welcome to tweets page</span> </p></font>
    <hr>
    
    
    
   

<p><%= notice %></p>

<table>
  <tr>
   <center> <th>Name</th></center>
   
   <center><th>Tweets</th></center>
   <center><th>View</th></center>
   
    <center> <th>Edit</th></center>
   <center> <th>Delete</th></center>
   
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.name %>&emsp;</td>
    
    <td><%= blog.content %>&emsp;</td>

    <td><%= link_to 'View', blog_path(blog.id) %>&emsp;</td>
  <td><%= link_to "Edit", edit_blog_path(blog.id) %>&emsp;</td>
  <td><%= link_to link_to 'Delete', blog_path(blog.id), method: :delete %></td>

  </tr>
<% end %>
</table>
</section>
  
  
<section class=" col-md-6"">
 <font size="10"> <p> <span class="label label-success">Add and view your tweets</span> </p></font>
    <hr>
    
  
  <dl id="accordion">
  <center><i><p> Create new tweet</i></center
  <%= form_with(model: Blog.new) do |form| %>
  <div class="blog_title">
    <%= form.label :Names %>
    <%= form.text_field :name %>
  </div>
  
  <div class="blog_title">
    <%= form.label :Subject %>
    <%= form.text_field :email %>
  </div>
  
  
  <div class="blog_title">
    <%= form.label :tweet %>
     <%= form.text_area :content, :cols => 30, :rows => 10 %>
  </div>
  
    <input type="submit" name="commit" value="Create tweet" data-disable-with="Create Blog">
<% end %>

   

  </dl>
  </section>
  
  

       <hr>
        <br><i>
      <li class="col-md-12">
         <div class="topic">
         <ul>
          <font size="3" color="white">  We garantee you enough security of your personal info <br></font>
           <font size="3" color="white"> these sample data are not genuine, are generated using Forgery algorithm <br></font>
           <font size="3" color="white"> enjoy your tweets</li></font>
        
        
        </ul>
    </div>
    </div>
    

</div>

 
