<h1>List of blogs</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Contents</th></th>
    <th>Check details</th></th>
    <th>Edit</th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.name %></td>
    <td><%= blog.email %></td>
    <td><%= blog.content %></td>

    <td><%= link_to 'Check the details', blog_path(blog.id) %></td>
  <td><%= link_to "Edit this blog", edit_blog_path(blog.id) %></td>
 <td><%= link_to link_to 'Delete this blos', blog_path(blog.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'Post a new blog', new_blog_path %>